<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<h1>{{event['fields']['host_name']}} OSPF Status</h1>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Int_Addr</th>
            <th>Neighbor</th>
            <th>Router_ID</th>
            <th>Neighbor State</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td> {{event['fields']['host_name']}}</td>
          <td> {{event['fields']['if_addr']}}</td>
          <td> {{event['fields']['neighbor']}}</td>
          <td> {{event['fields']['router_id']}}</td>
<td {% if event['fields']['ospf_new_state'] == undesired_state %}style="background:yellow;"{% endif %}>{{event['fields']['ospf_new_state']}}</td>
        </tr>
    </tbody>
</body>
</html>

